@page
@model MegaDeskRazor.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Date)
            </th>
            <th>
                Total Cost
            </th>
            <th>
                Width
            </th>
            <th>
                Depth
            </th>
            <th>
                Number of Drawers
            </th>
            <th>
                Surface Material
            </th>
            <th>
                Shipping Time
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desk.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desk.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desk.DrawerNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desk.SurfaceMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionTime)
            </td>
           
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DeskQuoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DeskQuoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DeskQuoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
